
	#set($layout="layout/layout.vm")
	#set($page_title="注册学生")

		<div class="container">
            <button  class="btn btn-default" onclick="location.assign('http://localhost:8080')">全部展示</button>
			<form class="form-inline" action="getByNameAndSex" method="post">
				<div class="form-group">
					<label for="username">ユーザー： </label>
					<input type="text" name="name" class="form-control" id="username">
				</div>
				<div class="form-group">
					<label for="sex">性别： </label>
					<select class="form-control" name="sex">
					  #foreach($sex in $sexList)
                          <option value=$sex>$sex</option>
					  #end
					</select>
				</div>
				<button   type="submit" class="btn btn-default">検索</button>
			</form>
            <button  class="btn btn-default" onclick="deleteJ()">削除</button>
            <button  class="btn btn-default" onclick="location.assign('http://localhost:8080/insertPage')">新たに</button>
			<hr />
			<table class="table table-hover" id="showList">
				<thead>
				<tr>
					<th></th>
					<th>ID</th>
					<th>ユーザー</th>
					<th>性别</th>
					<th>年齢</th>
				</tr>
				</thead>
				#foreach($japanese in $japaneseList)
                    <tr>
                        <td><input type="checkbox" value=$japanese.id></td>
                        <td>$japanese.id</td>
                        <td>$japanese.user</td>
                        <td>$japanese.sex</td>
                        <td>$japanese.age</td>
                    </tr>
				#end
			</table>
		</div>
