
	#set($layout="layout/layout.vm")
	#set($page_title="注册学生")
	#macro(showJP $japaneseList)
		#foreach($japanese in $japaneseList)
        <tr>
            <td><input type="checkbox" value=$japanese.id></td>
            <td><button  class="btn btn-outline-danger" onclick="location.assign('http://localhost:8080/updatePage?japaneseID='+$japanese.id)">更新</button></td>
            <td>$japanese.id</td>
            <td>$japanese.user</td>
			#if($japanese.sex==0)
                <td value=$japanese.sex>男人</td>
			#elseif($japanese.sex==1)
                <td value=$japanese.sex>女人</td>
			#else
                <td value=$japanese.sex>LGBT</td>
			#end
            <td>$japanese.age</td>
        </tr>
		#end
	#end
		<div class="container">
            <button  class="btn btn-outline-danger" onclick="location.assign('http://localhost:8080')">全部展示</button>
			<form class="form-inline" action="getByNameAndSex" method="post">
				<div class="form-group">
					<label for="username">ユーザー： </label>
					<input type="text" name="name" class="form-control" id="username" value=$!lastName>
				</div>
				<div class="form-group">
					<label for="sex">性别： </label>
					<select class="form-control" name="sex">
                       <option value="">不知道</option>
					  #foreach($sex in $sexList)
						  #if("$!lastSex"=="")
							  #if($sex==0)
                                  <option value=$sex>男人</option>
							  #elseif($sex==1)
                                  <option value=$sex>女人</option>
							  #else
                                  <option value=$sex>LGBT</option>
							  #end
						  #else
							  #if($sex==$lastSex)
								  #if($sex==0)
                                      <option selected="selected" value=$sex>男人</option>
								  #elseif($sex==1)
                                      <option selected="selected" value=$sex>女人</option>
								  #else
                                      <option selected="selected" value=$sex>LGBT</option>
								  #end
							  #else
								  #if($sex==0)
                                      <option value=$sex>男人</option>
								  #elseif($sex==1)
                                      <option value=$sex>女人</option>
								  #else
                                      <option value=$sex>LGBT</option>
								  #end
							  #end
						  #end
					  #end
					</select>
				</div>
				<button   type="submit" class="btn btn-outline-danger">検索</button>
			</form>
            <button  class="btn btn-outline-danger" onclick="deleteJ()">削除</button>
            <button  class="btn btn-outline-danger" onclick="location.assign('http://localhost:8080/insertPage')">新たに</button>
			<hr />
			<table class="table table-hover" id="showList">
				<thead>
				<tr>
					<th></th>
                    <th>更新</th>
					<th>ID</th>
					<th>ユーザー</th>
					<th>性别</th>
					<th>年齢</th>
				</tr>
				</thead>
				#showJP($japaneseList)
			</table>
		</div>
