
	#set($layout="layout/layout.vm")
	#set($page_title="注册学生")

		<div class="container">
			<form class="form-inline" action="getByName" method="post">
				<div class="form-group">
					<label for="username">ユーザー： </label>
					<input type="text" name="name" class="form-control" id="username">
				</div>
				<div class="form-group">
					<label for="sex">性别： </label>
					<select class="form-control">
					  <option value=$sexList[0]>男性</option>
					  <option value=$sexList[1]>女性</option>
					  <option value=$sexList[2]>LGBT</option>
					</select>
				</div>
				<button  type="submit" class="btn btn-default">検索</button>
				<button  class="btn btn-default">新たに</button>
				<button  class="btn btn-default">削除</button>
			</form>
			<hr />
			<table class="table table-hover">
				<thead>
				<tr>
					<th></th>
					<th>ID</th>
					<th>ユーザー</th>
					<th>性别</th>
					<th>年齢</th>
				</tr>
				</thead>
				#foreach($japanese in $japaneseList)
                    <tr>
                        <td><input type="radio"></td>
                        <td>$japanese.id</td>
                        <td>$japanese.user</td>
                        <td>$japanese.sex</td>
                        <td>$japanese.age</td>
                    </tr>
				#end
			</table>
		</div>
