<html lang="zh-CN">
<head>
    <title>Velocity</title>
<body>
<h1>velocity</h1>
${hello}
<hr />
Copyright &copy 2018 li
</body>
</head>
</html>
<!--
    任务:
        1.完成用户的增删改查
        2.前端采用velocity模版,后端框架自选,数据库自选
        3.创建用户表,性别用整数或枚举类型表示
        3.下拉选择框通过#foreach或#macro指令生成
        4.表格生成用#macro创建模版生成
        5.修改数据时,需自动填充数据
        6.将画面中常用css js框架分离成一个公共画面,然后导入此画面
-->