#set($layout="layout/vregisterLayout.vm")
#set($page_title="更新日本人")
<div class="container">
    <button id="backBtn" class="btn btn-lg btn-outline-danger" onclick="location.assign('http://localhost:8080')">返回</button>
    <form action="update" class="form-register" method="post">
        <h2 class="form-register-heading text-danger">★Please</h2>
        <h2 class="form-register-heading text-danger">★Update the ★message</h2>
        <input type="text" name="id" id="inputID" value=$japanese.id>
        <label for="inputName" class="sr-only">user</label>
        <input type="text" name="user" id="inputName"  class="form-control" placeholder="name" required autofocus value=$japanese.user>
        <label for="inputBirthday" class="sr-only">sex</label>
        <select class="form-control" name="sex" id="inputBirthday">
            #foreach($sex in $sexList)
                #if($sex==$japanese.sex)
                    #if($sex==0)
                        <option selected="selected" value=$sex>男人</option>
                    #elseif($sex==1)
                        <option selected="selected" value=$sex>女人</option>
                    #else
                        <option selected="selected" value=$sex>LGBT</option>
                    #end
                #else
                    #if($sex==0)
                        <option  value=$sex>男人</option>
                    #elseif($sex==1)
                        <option  value=$sex>女人</option>
                    #else
                        <option  value=$sex>LGBT</option>
                    #end
                #end
            #end
        </select>
        <label for="inputClassID" class="sr-only">age</label>
        <input type="number" name="age" id="inputClassID" class="form-control " placeholder="age" value=$japanese.age >
        <button class="btn btn-lg  btn-outline-danger" type="reset">重置</button>
        <button class="btn btn-lg  btn-outline-danger" type="submit">更新</button>
    </form>
</div>
