#set($layout="layout/layout.vm")
#set($page_title="菜单")
<div class="adcenter"><script src="http://www.cssmoban.com/include/new/ggad2_728x90.js"></script></div>
<div class="header" id="home">
    <div class="container">
        <div class="header-top">
            <div class="top-menu">
                <span class="menu"><img src="../assets/nav.png" alt=""/> </span>
                <ul>
                    <li><a href="index.html" class="active">home</a></li><label>/</label>
                    <li><a href="about.html">About</a></li><label>/</label>
                    <li><a href="services.html">Services</a></li><label>/</label>
                    <li><a href="products.html">products</a></li><label>/</label>
                    <li><a href="blog.html">blog</a></li><label>/</label>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <!-- script for menu -->

                <script>
                    $("span.menu").click(function(){
                        $(".top-menu ul").slideToggle("slow" , function(){
                        });
                    });
                </script>
                <!-- //script for menu -->
            </div>
            <div class="search">
                <form>
                    <input type="text" value="Search.." onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '';}" >
                    <input type="submit" value="">
                </form>
            </div>

<div class="clearfix"></div>
