<html>
<head>
    <title>$!page_title</title>
    #parse("default/header.vm")
    <link href="../../bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <link href="../../css/public.css" rel="stylesheet">
</head>
<body>
    $screen_content
</body>
</html>